*{
    margin: 10px;;
    padding: 2%;
    box-sizing:border-box;
}
*:focus{
    outline:auto;
}
body{
    background-color:aliceblue;
    background-image:url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: medium;
    color:darkblue;
    font-style: normal;
    font-weight: 200;
}
label{ font-family: 'Times New Roman', Times, serif;
        color:firebrick;
}
fieldset{
    background-color:transparent;
    color:coral;
    border-color: black;
}
legend{
    font-weight:bolder;
    font-size: larger;
}
input{
    background-color: antiquewhite;
    color:black;
    border-radius: 5px ;
}
input[type="submit"]{
    background-color:green;
}
input[type="reset"]{
    background-color:red;
}